<% content_for :title do %>
  meetee.  meeting and conference management and collaberation.
<% end %>

<div id="user_form">
  <%= image_tag 'meetee_logo.png' %><br /><br />
  <% if flash[:notice] %><div id="notice"><%= flash[:notice] %></div><% end %>
  <% form_for @user do |f| %>
    <%= f.error_messages %>
    <%= f.text_field :email %><br /><br />
    <%= image_submit_tag "button.png" %>
  <% end %><br /><br /> 
  <p><a id="meetee_details">(very) brief overview</a> or, follow us on twitter <%= link_to '@meetee_', 'http://www.twitter.com/meetee_', :target => "_blank" %></p>
  <div id="product_details">
     meetee is a new collaberative tool for organising and conducting meetings/conferences.  
     It allows you to get more out of meetings by encouraging people to collaberate before and
     after the meeting has taken place. Meetee is currently in development - if you would like to
     know when it will be finished, please provide your email (above).
  </div>
</div>

<script type="text/javascript">
  new ObserveUserForm();
</script>
